body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f7;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Enable vertical scroll if needed */
}

.app-container {
  height: 100%;
  background-color: #f2f2f7;
}

.app-header {
  background-color: #fff;
  padding: 2vw 5vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-menu {
  padding: 5vw;
}

.settings-menu h1 {
  font-size: 6vw;
  margin-bottom: 5vw;
}

.settings-menu ul {
  list-style: none;
  padding: 0;
}

.settings-menu li {
  background-color: #fff;
  margin-bottom: 3vw;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.settings-menu li:hover {
  background-color: #e0e0e0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  text-decoration: none;
  color: inherit;
}

.icon {
  margin-right: 3vw;
  font-size: 5vw;
}

.chevron {
  font-size: 5vw;
  color: #ccc;
}

.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}

.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}

.page {
  height: auto; /* Allow page to grow */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 5vw;
  background-color: #f2f2f7;
  position: relative;
  padding-top: 15vw;
  overflow-y: auto; /* Enable vertical scroll if needed */
}

.back-button {
  position: absolute;
  top: 5vw;
  left: 5vw;
  font-size: 5vw;
  text-decoration: none;
  color: #007aff;
  display: flex;
  align-items: center;
}

.back-button .chevron {
  margin-right: 2vw;
}

.page-title {
  position: absolute;
  top: 5vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5vw;
}

.add-button {
  position: absolute;
  top: 5vw;
  right: 5vw;
  font-size: 6vw;
  color: #007aff;
  cursor: pointer;
}

.form-container {
  margin-top: 15vw;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5vw;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container button,
.form-container select {
  align-self: center;
  width: 100%;
  max-width: 300px;
  padding: 3vw;
  margin-bottom: 3vw;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  background-color: #007aff;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #005bb5;
}

.auth-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
}

.auth-link {
  font-size: 4vw;
  color: #007aff;
  text-decoration: none;
  margin-bottom: 3vw;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 3vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007aff;
    color: #fff;
    border: none;
    align-self: center;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
}

.auth-button:hover {
    background-color: #005bb5;
}

.auth-button.logout {
    background-color: #dc3545;
}

.auth-button.logout:hover {
    background-color: #c82333;
}

.auth-button.signup-button {
    background-color: #007aff;
}

.auth-button.signup-button:hover {
    background-color: #005bb5;
}

.label-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3vw;
  margin-top: 3vw;
  width: 95%;
}

.label-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3vw;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.label-item img {
  width: 12vw;
  height: 12vw;
  border-radius: 4px;
  margin-right: 3vw;
  cursor: pointer;
}

.label-title {
  flex: 1;
  font-size: 3.5vw;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-title.ok {
  color: green;
}

.label-title.anomalie {
  color: orange;
}

.label-title.manquant {
  color: red;
}

.label-icons {
  position: absolute;
  right: 3vw;
  display: flex;
  gap: 2vw;
}

.label-icons span {
  font-size: 4vw;
  cursor: pointer;
}

.label-icons span:first-child {
  color: green;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.comment-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  resize: none;
}

.comment-form button {
  width: 48%;
  padding: 10px;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 4%;
}

.comment-form button:last-child {
  background-color: #ccc;
  margin-right: 0;
}

.comment-form button:hover {
  background-color: #005bb5;
}

.comment-form button:last-child:hover {
  background-color: #999;
}

.comment-view {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.comment-view p {
  margin-bottom: 20px;
}

.comment-view button {
  padding: 10px;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.comment-view button:hover {
  background-color: #005bb5;
}

.comment-view .signed-comment {
  white-space: pre-line;
}

.comment-view .signed-comment.anomalie {
  color: orange;
}

.comment-view .signed-comment.manquant {
  color: red;
}

.profile-bubble {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #ccc;
}

.profile-bubble img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blinking-beacon {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 6vw;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.parametre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}

.parametre-button {
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  margin-bottom: 3vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #007aff;
  color: #fff;
  border: none;
  align-self: center;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.parametre-button:hover {
  background-color: #005bb5;
}

.edit-button {
  padding: 5px 10px;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #005bb5;
}

.link-icon {
  font-size: 1.5em;
  text-decoration: none;
  color: #007aff;
  margin-left: 5px;
}

.filter-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  align-self: center;
  margin-bottom: 3vw;
}

@media (min-width: 768px) {
  .settings-menu h1,
  .page-title,
  .back-button,
  .add-button {
    font-size: 24px;
  }

  .icon,
  .chevron {
    font-size: 20px;
  }

  .form-container {
    margin-top: 10vw;
    padding: 3vw;
  }
  
  .form-container input,
  .form-container button,
  .form-container select {
    padding: 10px;
  }

  .label-item img {
    width: 50px;
    height: 50px;
  }

  .label-title {
    font-size: 14px;
  }
  
  .label-icons span {
    font-size: 18px;
  }

  .profile-bubble {
    width: 50px;
    height: 50px;
  }

  .auth-link {
    font-size: 16px;
  }

  .auth-button {
    font-size: 16px;
    padding: 10px;
  }
}
